body{
  /* width: 10%; */
  background-color: #0c0c1d;
  /* background-image: linear-gradient(#0c0c1d, rgb(188, 188, 122)); */
  background-color: gray;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans",sans-serif;
}

